{% extends 'main/base.html' %}

{% block body %}
<div class="w-[100%] | grid | justify-center | mt-[100px]">
    <div class="w-[90vw] sm:w-[70vw] md:w-[60vw] xl:w-[35vw]">
        <div class="fadein | special | p-[30px]">
            <h4 class="text-[35px] sm:text-[50px] md:text-[55px] xl:text-[75px] | font-bold">Leon Stepczynski</h4> <br>
            <p class="text-[20px] sm:text-[25px] md:text-[30px] xl:text-[35px]">A self taught programmer on an intermediate level aspiring to become a Web Developer</p>
        </div>
    
        <div class="fadein | special | mt-[30px] md:mt-[70px] | p-[30px] | w-max">
            <h4 class="text-[25px] sm:text-[35px] md:text-[40px] xl:text-[50px] | font-bold">Contact Info:</h4>
                <ul class="list-disc | text-[18px] sm:text-[22px] md:text-[28px] | ml-[10vw] lg:ml-[7vw] xl:ml-[5vw] | underline">
                    <li><a target="_blank" href="https://mail.google.com">leonstepczynski@gmail.com</a></li>
                    <li><a target="_blank" href="https://github.com/LStepczynski">Github</a></li>
                    <li><a target="_blank" href="https://twitter.com/LStepczynski">Twitter</a></li>
                </ul>
        </div>
    
        <div class="fadein | special | mt-[50px] md:mt-[70px] | p-[30px]">
            <h4 class="text-[25px] sm:text-[35px] md:text-[40px] xl:text-[50px] | font-bold">Skills:</h4>
                <ul class="list-disc | text-[18px] sm:text-[22px] md:text-[28px] | ml-[10vw] lg:ml-[7vw] xl:ml-[5vw]">
                    <li><p>Intermediate/Advanced Python Knowledge</p></li>
                    <li><p>Intermediate TKinter Knowledge</p></li>
                    <li><p>Intermediate/Advanced Flask Knowledge</p></li>
                    <li><p>Beginner Django Knowledge</p></li>
                    <li><p>Beginner/Intermediate Java Script Knowledge</p></li>
                    <li><p>Intermediate/Advanced HTML Knowledge</p></li>
                    <li><p>Intermediate CSS Knowledge</p></li>
                    <li><p>Intermediate TailwindCSS Knowledge</p></li>
                    <li><p>Beginner/Intermediate SQL Knowledge</p></li>
                </ul>
        </div>
    
        <div class="fadein | special | mt-[50px] md:mt-[70px] | p-[30px]">
            <h4 class="text-[25px] sm:text-[35px] md:text-[40px] xl:text-[50px] | font-bold">Education and Courses:</h4>
                <ul class="list-disc | text-[18px] sm:text-[22px] md:text-[28px] | ml-[10vw] lg:ml-[7vw] xl:ml-[5vw]">
                    <li><p>Finished Gemini Middle School</p></li>
                    <li><p>Attending Maine East High School</p></li>
                    <li><p>Attending AP CS A Course</p></li>
                    <li><p>Attending Cyber Security Course</p></li>
                </ul>
        </div>
    
        <div class="fadein | special | mt-[50px] md:mt-[70px] | p-[30px]">
            <h4 class="text-[25px] sm:text-[35px] md:text-[40px] xl:text-[50px] | font-bold">About me:</h4>
            <p class="text-[18px] sm:text-[22px] md:text-[28px] | ml-[10vw] lg:ml-[7vw] xl:ml-[5vw]">
                I'm a 15 year old High School student in my Sophomore year. I come from Poland and I moved to the USA 2 years ago. Some
                of my hobbies include: Programming, Exercise/Gym, Computer Games.
            </p>
        </div>
    </div>

    <div class="grid | justify-center | fadein | special | mt-[50px] md:mt-[70px] | p-[30px]"><a class="text-[25px] sm:text-[35px] md:text-[40px] xl:text-[50px] | font-oswald" href="../../static/assets/Resume.pdf" download>Download Resume</a></div>

</div>

<script src="../../static/js/resume.js"></script>
{% endblock %}